@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
.page-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-content-wrapper .page-content {
  padding: 30px;
  max-width: 1080px;
  width: 100%;
}
.page-content-wrapper .page-content .page-content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #111110;
}
.page-content-wrapper .page-content .page-content_header h2 {
  font-size: 38px;
}
.page-content-wrapper .page-content .page-content_header div button {
  border: 1px solid #111110;
  padding: 6px;
  box-shadow: 3px 4px;
  background-color: #fefeff;
}
.page-content-wrapper .page-content .page-content_header div button:first-child {
  margin-right: 20px;
}
.page-content-wrapper .page-content .page-content_header div button:first-child a {
  color: #111110;
}
.page-content-wrapper .page-content .product-list_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page-content-wrapper .page-content .product-list_content .product-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 204px;
  padding: 12px 12px 30px 12px;
  margin: 0 1px 60px 0;
  border: 2px solid #111110;
}
.page-content-wrapper .page-content .product-list_content .product-list-item div {
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
}
.page-content-wrapper .page-content .product-list_content .product-list-item div p {
  margin-bottom: 3px;
}
.page-content-wrapper .page-content .add-product_content #product_form .item_properties {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.page-content-wrapper .page-content .add-product_content #product_form .item_properties div:last-child {
  margin-left: 20px;
}
.page-content-wrapper .page-content .add-product_content #product_form .item_properties div label, .page-content-wrapper .page-content .add-product_content #product_form .item_properties div input {
  display: block;
}
.page-content-wrapper .page-content .add-product_content #product_form .item_properties div label {
  line-height: 33px;
  font-weight: 500;
}
.page-content-wrapper .page-content .add-product_content #product_form .item_properties div input {
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-content-wrapper .page-content .add-product_content #product_form .item_properties div input::placeholder {
  padding-left: 7px;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-type-wrapper {
  margin-bottom: 40px;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-type-wrapper #productType {
  margin-left: 15px;
  border: 2px solid #060606b8;
  border-radius: 3px;
  padding: 2px 3px;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-description .dvd-description, .page-content-wrapper .page-content .add-product_content #product_form .product-description .furniture-description, .page-content-wrapper .page-content .add-product_content #product_form .product-description .book-description {
  width: 320px;
  margin: 20px 0;
  padding: 15px;
  border: 2px solid #060606b8;
  border-radius: 3px;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-description .dvd-description *, .page-content-wrapper .page-content .add-product_content #product_form .product-description .furniture-description *, .page-content-wrapper .page-content .add-product_content #product_form .product-description .book-description * {
  margin-bottom: 15px;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-description .furniture-description .furniture-description-content {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-description .furniture-description .furniture-description-content div label, .page-content-wrapper .page-content .add-product_content #product_form .product-description .furniture-description .furniture-description-content div input {
  display: block;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-description .furniture-description .furniture-description-content div label {
  line-height: 22px;
  margin-right: 13px;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-description .dvd-description label {
  margin-right: 10px;
}
.page-content-wrapper .page-content .add-product_content #product_form .product-description .book-description label {
  margin-right: 10px;
}
.page-content-wrapper .page-content .page-content_footer {
  text-align: center;
  padding: 30px 0;
  border-top: 2px solid #111110;
}

/*# sourceMappingURL=main_styles.css.map */
